.card-product {
  overflow: hidden;
  // height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 1rem;
  margin-bottom: 0;
  position: relative;

  .add-stock i {
    position: absolute;
    top: 16px;
    right: 16px;
    color: $medium-gray;
    transition: all 0.8s ease;
    opacity: 0.8;

    &:hover {
      color: $stockradar;
      opacity: 1;
    }
  }

  .add-stock i:hover {
    color: $stockradar;
  }

  .delete-stock i {
    position: absolute;
    top: 16px;
    right: 16px;
    color: $medium-gray;
    transition: all 0.8s ease;
    opacity: 0.8;

    &:hover {
      color: $stockradar;
      opacity: 1;
    }
  }

  .delete-stock i:hover {
    color: $stockradar-red;
  }

  .stars {
    position: absolute;
    bottom: 16px;
    right: 16px;
  }

  .stars .fas {
    color: $yellow;
  }

  .stars .far {
    color: $light-gray;
  }
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  margin-right: 22px;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;

  span {
    color: $medium-gray;
  }
}

.card-product-bottom {
  overflow: hidden;
  // height: 120px;
  background: $stockradar;
  color: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin: 1rem;
  margin-top: 0;

  p {
    font-size: 12px;
    line-height: 1.4;
  }
}

.card-product-bottom-price-volume {
  display: flex;
  justify-content: space-between;
  align-items: center;

  p {
    padding: 16px;
    padding-top: 8px;
    padding-bottom: 0;
    margin-bottom: 0;
    margin-top: 8px;
  }
}

.card-product-bottom-scores {
  display: flex;
  justify-content: space-between;
  align-items: center;

    p {
    padding: 16px;
    padding-top: 8px;
    margin-bottom: 0;
    margin-top: 8px;
  }
}

.card-product-refresh {
  text-align: center;
  padding-bottom: 16px;

  i {
    color: white;
  }

  p {
    font-weight: lighter;
    margin-top: 8px;
    margin-bottom: 0;
  }
}
