.navbar-lewagon {
  justify-content: space-between;
  align-items: center;
  background: white;
  top: 0;
  position: fixed;
  width: 100%;
  z-index: 888;
  min-height: 80px;
}

// .navbar-lewagon {
//   display: flex;
//   box-shadow: 0 0 5px rgb(0 0 0 / 20%);
// }

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

@media (max-width: 576px) {
  .navbar-expand-sm .navbar-nav .dropdown-menu {
    position: absolute !important;
  }
}
